<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="~{layout::head}">
    <meta charset="UTF-8">
    <title>Proveedores</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<nav th:insert="~{layout::menu}"></nav>
<div class="container mt-4">
    <div class="d-flex justify-content-between mb-3">
        <h2>Lista de Proveedores</h2>
        <a class="btn btn-success" th:href="@{/proveedores/create}">Nuevo Proveedor</a>
    </div>

    <table class="table table-bordered table-hover">
        <thead class="table-secondary">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Stock</th>
            <th scope="col">Dirección</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="proveedor : ${proveedores}">
            <td th:text="${proveedor.codProveedor}"></td>
            <td th:text="${proveedor.nombreProveedor}"></td>
            <td th:text="${proveedor.telefonoProveedor}"></td>
            <td th:text="${proveedor.stockProveedor}"></td>
            <td th:text="${proveedor.direccionProveedor}"></td>
            <td>
                <a th:href="@{/proveedores/edit/{id}(id=${proveedor.codProveedor})}" class="btn btn-primary btn-sm">Editar</a>

                <a href="javascript:void(0);"
                   th:attr="data-url=@{/proveedores/delete/{id}(id=${proveedor.codProveedor})}"
                   class="btn btn-danger btn-sm btn-delete">
                    Eliminar
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".btn-delete").forEach(function (btn) {
            btn.addEventListener("click", function () {
                const url = this.getAttribute("data-url");

                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "Esta acción no se puede revertir",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Sí, eliminar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = url;
                    }
                });
            });
        });
    });
</script>
</body>
</html>