<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="~{layout::head}">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<nav th:insert="~{layout::menu}"></nav>
<br />
<div class="card">
  <div class="card-header text-bg-secondary">
    Mantenimiento de clientes
  </div>
  <div class="card-body">
    <h5 class="card-title">Actualizar clientes</h5>
    <hr />
    <form th:action="@{/clientes/save}" method="post" th:object="${cliente}">
      <input type="hidden" th:field="*{cod_cliente}" >
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="txtnombre_cliente" th:field="*{nombre_cliente}"
               placeholder="name@example.com">
        <label for="txtnombre_cliente">Nombre de cliente</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="txtapellido_cliente" th:field="*{apellido_cliente}"
               placeholder="name@example.com">
        <label for="txtapellido_cliente">apellido de cliente</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="txttrabajo_cliente" th:field="*{trabajo_cliente}"
               placeholder="name@example.com">
        <label for="txttrabajo_cliente">trabajo del cliente</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="txttelefono_cliente" th:field="*{telefono_cliente}"
               placeholder="name@example.com">
        <label for="txttelefono_cliente">telefono del cliente</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="txtdireccion_cliente" th:field="*{direccion_cliente}"
               placeholder="name@example.com">
        <label for="txtdireccion_cliente">direcciòn del cliente</label>
      </div>
      <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
  </div>
</div>
</body>
</html>