<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout::head}">
    <meta charset="UTF-8">
    <title>Lista de Modelos</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<nav th:insert="~{layout::menu}"></nav>
<div class="container mt-4">
    <div class="d-flex justify-content-between mb-3">
        <h2>Lista de Modelos</h2>
        <a class="btn btn-success" th:href="@{/modelos/create}">Nuevo Modelo</a>
    </div>

    <table class="table table-bordered table-hover">
        <thead class="table-secondary">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Diseño</th>
            <th scope="col">Tecnología</th>
            <th scope="col">Seguridad</th>
            <th scope="col">Interior</th>
            <th scope="col">Precio</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="modelo, iterStat : ${modelos}">
            <!-- ID consecutivo -->
            <td th:text="${iterStat.index + 1}"></td>

            <td th:text="${modelo.disenoModelo}"></td>
            <td th:text="${modelo.tecnologiaModelo}"></td>
            <td th:text="${modelo.seguridadModelo}"></td>
            <td th:text="${modelo.interiorModelo}"></td>
            <td th:text="${modelo.precio}"></td>
            <td>
                <a th:href="@{/modelos/edit/{id}(id=${modelo.id})}" class="btn btn-primary btn-sm">Editar</a>
                <a th:href="@{/modelos/delete/{id}(id=${modelo.id})}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro que quieres eliminar este cliente?');">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".btn-delete").forEach(function (btn) {
            btn.addEventListener("click", function () {
                const url = this.getAttribute("data-url");

                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "Esta acción no se puede revertir",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Sí, eliminar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = url;
                    }
                });
            });
        });
    });
</script>
</body>
</html>