<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="~{layout::head}">
    <meta charset="UTF-8">
    <title>vendedores</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<nav th:insert="~{layout::menu}"></nav>
<div class="container mt-4">
    <div class="d-flex justify-content-between mb-3">
        <h2>Lista de vendedores</h2>
        <a class="btn btn-success" th:href="@{/vendedores/create}">Nuevo Cliente</a>
    </div>

    <table class="table table-bordered table-hover">
                <thead class="table-secondary">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Sueldo</th>
                    <th scope="col">Ventas</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="VENDEDOR : ${vendedores}">
                    <td th:text="${VENDEDOR.cod_vendedor}"></td>
                    <td th:text="${VENDEDOR.nombre_vendedor}"></td>
                    <td th:text="${VENDEDOR.apellido_vendedor}"></td>
                    <td th:text="${VENDEDOR.sueldo_vendedor}"></td>
                    <td th:text="${VENDEDOR.ventas_vendedor}"></td>
                    <td>

                        <a th:href="@{/vendedores/edit/{id}(id=${VENDEDOR.cod_vendedor})}" class="btn btn-primary btn-sm">Editar</a>

                        <!-- se cambio el boton de eliminar a uno mas intractivo utilizando scriot -->
                        <a href="javascript:void(0);"
                           th:attr="data-url=@{/vendedores/delete/{id}(id=${VENDEDOR.cod_vendedor})}"
                           class="btn btn-danger btn-sm btn-delete">
                            Eliminar
                        </a>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".btn-delete").forEach(function (btn) {
            btn.addEventListener("click", function () {
                const url = this.getAttribute("data-url");

                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "Esta acción no se puede revertir",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Sí, eliminar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = url;
                    }
                });
            });
        });
    });
</script>

    </body>
    </html>