<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout::head}">
  <meta charset="UTF-8">
  <title>Mantenimiento Combustible</title>
</head>
<body>
<nav th:insert="~{layout::menu}"></nav>
<br />
<div class="card">
  <div class="card-header text-bg-secondary">
    mantenimiento de Combustible
  </div>
  <div class="card-body">
    <h5 class="card-title">Registro Combustible</h5>
    <hr />
    <form th:action="@{/combustions/save}" method="post" th:object="${combustion}">
      <input type="hidden" th:field="*{id}"> <!-- ID oculto para actualizar correctamente -->

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="txttipoCombustion" th:field="*{tipoCombustion}"
               placeholder="Ejemplo: Gasolina, Diesel" required>
        <label for="txttipoCombustion">Tipo de Combustible</label>
      </div>

        <!-- Botones de acción -->
        <button type="submit" class="btn btn-success shadow-sm">
            <i class="bi bi-save2-fill me-1"></i> Registrar combustible
        </button>
        <a href="/combustions" class="btn btn-secondary shadow-sm">
            <i class="bi bi-arrow-left me-1"></i> Cancelar
        </a>
    </form>
  </div>
</div>
</body>
</html>